body
	padding-top 61px

p, h1, h2, h3, h4, h5, h6
	font-family: 'Open Sans', sans-serif
	font-weight 400

.container-fluid
	width 970px
	max-width 100%

.navbar-inverse, .navbar-collapse
	background-color #13987e
	background-image none
	border-color #13987e

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a
	text-shadow: none

.navbar-inverse .navbar-brand
	color white

.navbar-inverse .navbar-nav > li > a
	color white

.navbar-brand
	height auto

.navbar-header a.navbar-brand
	margin-top -10px
	margin-bottom -17px
	h6
		color #eee
.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.toast-top-right 
	top 70px

.toast-success
	background-color #13987e
		
.jumbotron
	padding-left 60px
	padding-right 60px

.panel-primary > .panel-heading
	background-color #444
	border-color #444
	background-image none

.panel-primary
	border-color #444

footer
	padding-left 15px
	padding-right 15px
	p
		padding-top 15px
		border-top 1px solid #d7e0e2